#root{
    background-color: beige;
    overflow: auto;
}

.font{
    font-family: Arial, Helvetica, sans-serif;
    color: hsl(240, 50%, 57%);
    font-weight: bold;
}

.pozadina{
    background-color: hsl(240, 50%, 57%);
    border: 3px solid;
    border-radius: 5px;
    border-color: hsl(240, 38%, 45%);
}

.slika{
    background: transparent;
}

.borderi{
    border-top: 3px solid hsl(240, 50%, 57%);
    border-bottom: 3px solid hsl(240, 50%, 57%);
}

.naslov{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: hsl(240, 50%, 57%);
    font-weight: bold;
}

.clicked:active{
    background-color: #8064A2 !important;
}
